.svgCloud {
    /* display:none; */
}
canvas {
    position: relative;
    display: block;
    width: 800px;
    height:auto;
    background-color: black;
}
canvas.preview {
    width: 400px !important;
}